{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Интерактивный Квиз</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!-- Ваши кастомные стили -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <!-- fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <meta name="csrf-token" content="{{ csrf_token }}">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.body.addEventListener('htmx:configRequest', (event) => {
                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                event.detail.headers['X-CSRFToken'] = csrfToken;
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-gradient fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="{% url 'category_list' %}">
            <i class="fas fa-question-circle me-2"></i>Интерактивный Квиз
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'category_list' %}">
                        <i class="fas fa-list-ul me-1"></i> Категории
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" hx-get="{% url 'leaderboard_partial' %}"
                       hx-target="#main-content"
                       hx-swap="innerHTML">
                        <i class="fas fa-trophy me-1"></i> Таблица рейтинга
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container" style="padding-top:10px;">
    <p class="text-center text-muted mb-4 pulsate">Проверяйте свои знания и соревнуйтесь с друзьями!</p>

    <div id="quiz-area">
        {% block content %}{% endblock %}
    </div>
</div>

<!-- Bootstrap JS и зависимости -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
